@import "reset.css";

/* 공통 */
html,body {
    height: 100%;
    width: 100%;
}

.wrapper {
    flex-direction: column;
    min-height: 100%;
    display: flex;
}

.header {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    padding: 20px;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
}

/*================================= logo ==========================================*/

.logo {
    display: flex;
    align-items: center;
}

.logo>a>img {
    height: auto;
    margin-left: 20px;
}

/*================================= logo ==========================================*/

/*================================= nav ==========================================*/

nav ul {
    margin-left: 20px;
    display: flex;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #1d1d1f;
}

nav li:hover a {
    color: #1877f2;
}

.nav_arrow {
    text-rendering: optimizeLegibility;
    border: 2px solid #1d1d1f;
    border-left: none;
    border-top: none;
    height: 5px;
    width: 5px;
    display: inline-block;
    margin: 0 6px 4px 10px;
    transform: rotate(45deg);
    transition: transform 350ms cubic-bezier(0, 0, .1, 1), border 70ms ease-in-out;
    
}

nav li:hover .nav_arrow {
    border: 2px solid #1877f2;
    transform: rotate(-135deg);
    border-left: none;
    border-top: none;

}

.header > nav{
    margin-right: 20px;
}

/*================================= nav ==========================================*/

/*================================= content ==========================================*/
.content {
    background-color: white;
    flex: 1 0 auto;
}

/*================================= content ==========================================*/

/*================================= footer ==========================================*/
.content > .footer {
    flex-shrink: 0;
    height: 300px;
}

/*================================= footer ==========================================*/

/* 모바일 */
@media (max-width: 600px) {
    .footer {
        background-color: #f2f4f7;
    }

}

/* 테블릿 */
@media (min-width: 601px) and (max-width: 1200px) {
    .footer {
        background-color: #f2f4f7;
    }
}

/* 데스크탑  */
@media (min-width: 1201px) {
    .footer {
        background-color: #f2f4f7;
    }
}