@import "reset.css";

html,
body {
    font-family: 'neo';
    height: 100%;
    width: 100%;
}


/* -------- 헤더 메뉴 전체 ----------- */

#header_wrap {
    transition: transform 0.3s linear;
    background-color: white;
    align-items: center;
    position: sticky;
    display: block;
    width: 100%;
    top: 0;
}

.header--hidden {transform: translateY(-100%);}


/* 헤더 메뉴 위(로고) */

.header_top{
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px;
    display: flex;
    height: 80px;
    width: 95%;
}


/* 고객 지원 */

.support{
    transition: color 0.1s ease-in-out;
    color: #1d1d1f;
    cursor: pointer;
}

.support:hover{color: #4a90e2;}


/* 검색창 */

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #ECF3FF;
    transition: border-bottom-color 0.2s ease-in-out;
}

.search>.search_input {
    border-style: none;
    font-family: 'neo';
    outline: none;
    height: 30px;
    width: 90%;
}

.search>.search_input:focus::placeholder {color: transparent;}
.search:focus-within {border-bottom-color: #4a90e2;}


/* 헤더 메뉴 아래 (네비게이션) */


.header_nav_container{
    display: block;
    margin-top: 20px;
}

.header_nav{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    display: flex;
    width: 95%;
}

.header_nav_item {
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-right: 30px;
    cursor: pointer;
}

.header_nav_item > a {transition: color 0.2s ease-in-out;}
.header_nav_item:hover > a {color: #4a90e2;}

/* 메뉴 화살표 */

#drop_arrow{
    transition: transform 665ms cubic-bezier(0, 0, .1, 1), border-color 0.2s ease-in-out;
    border: 2px solid #1c2b33;
    transform: rotate(45deg);
    display: inline-block;
    margin: 0 6px 4px 10px;
    border-left: none;
    border-top: none;
    height: 5px;
    width: 5px;
}

.header_nav_item:hover > #drop_arrow{
    transform: rotate(-135deg);
    border-color: #4a90e2;
}



/* -------- 헤더 메뉴 전체 ----------- */































.content {
    background-color: gray;
}