@import "reset.css";

html, body {
	height: 100%;
    
}

.title {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 20px;
}

.right_wrap {
    font-family: 'neo';
    margin-left: 3%;
    margin-right: 3%;
    width: 90%;
    margin-top: 50px;
    float: right;
    margin-left: 300px;
}

.wrapper {
    display: flex;
    height: 100%;
    
}

.left_menu {
    position: fixed;
    top: 0;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #3f4b5c;
    overflow: auto; /* 추가 */
    float: left;
    height: 100%;
}

/* 스크롤바 */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* 스크롤바 색상 */
  ::-webkit-scrollbar-thumb {
    background-color: #888888;
  }
  
  
  /* 스크롤바 눈금 */
  ::-webkit-scrollbar-track {
    background-color: #413b3b6e;
  }

.left_menu>img {
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid #5d6a7a;
    height: 65px;
    filter: invert(100%) saturate(0%) brightness(999%);
}

.left_menu-item {
    font-family: 'neo';
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.1s ease-in-out;
    background-color: #3f4b5c;
    padding: 14px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 80%;
    color: white;
    display: block;
}

.left_menu-item > img{
    float: right;
    height: 20px;
}

.left_menu-item:hover {
    cursor: pointer;
    background-color: #4d5969;
    text-decoration: none;
}

.left_menu-item:last-child {
    margin-bottom: 10px;
}

.left_menu-item:nth-last-child(3) {
    margin-top: auto;
}

/* Hamburger icon styles */
.hamburger {
    position: fixed;
    top: 0;
    display: none;
    z-index: 999;
    cursor: pointer;
    user-select: none;
    height: 100vh;
    background-color: #3f4b5c;
}


.hamburger span {
    display: block;
    position: relative;
    height: 3px;
    width: 25px;
    background: #eee;
    transition: transform 0.3s ease;
}

.hamburger span:nth-child(1) {
    margin-top: 20px;
    margin-left: 9px;
    margin-right: 9px;
}

.hamburger span:nth-child(2) {
    margin-top: 10px;
    margin-left: 9px;
    margin-right: 9px;
}

/* X icon styles */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    transform: translateY(-12.5px) rotate(-45deg);
}

@media (max-height: 800px) {
    .left_menu>img {
        display: none;
    }
}


@media (max-width: 800px) {
    .hamburger {
        display: block;
        z-index: 999;
    }

    .left_menu {
        display: none;
        position: fixed;
        z-index: 99;
        top: 0;
        padding-top: 50px;
        font-size: 1.5em;
    }

    .left_menu-item{
        margin-left: 40px;
    }

    .left_menu > img {
        display: none;
    }

    .left_menu-item > img{
        height: 30px;
    }
    

    .hamburger.active ~ .left_menu {
        display: block;
        width: 100%;
    }

    .right_wrap {
        margin-left: 80px;
    }
}