@import "reset.css";

.wrapper {
    display: flex;
    height: 100vh;
}

.menu {
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #2887E6;
}

.menu>img {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 100px;
    margin-bottom: 20px;
    border-bottom: 2px solid #56A1EB;
}

.dashboard {
    flex: 1;
    background-color: #fff;
}

.menu-item {
    font-family: 'neo';
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.1s ease-in-out;
    background-color: #2887E6;
    padding: 14px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 80%;

}

.menu-item>a {
    text-decoration: none;
    color: white;
}

.menu-item:hover {
    cursor: pointer;
    background-color: #4294EC;
    text-decoration: none;
}

.menu-item:focus,
.menu-item:focus-within {
    background-color: #56A1EB;
}


.menu-item:last-child {
    margin-bottom: 10px;
}

.menu-item:nth-last-child(2) {
    margin-top: auto;
}

@media (max-width: 800px) {
    .menu {
        display: none;
        
    }

}